.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100vw;
  height: 100%;
}
.calculator__wrapper{
  width: 35vw;
  background-color: #E7E7E7;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  margin-top: 50px;
}
.small{
  text-align: center;
}

/*MEDIA QUERY*/
@media screen and (max-width: 833px){
  .calculator__wrapper{
    margin-top: 50px;
    width: 90vw;
    height: auto;
  }
}
@media screen and (max-width: 412px){
  h4{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
  button{
    font-size: 12px;
  }

}

@media screen and (max-width: 320px){
  h4{
    font-size: 12px;
  }
  p{
    font-size: 11px;
  }
  button{
    font-size: 11px;
  }

}
