.main{
  width: 100%;
  background-color: #E7E7E7;
  display: flex;
  justify-content: center;
}
.aim{
  width: 100%;
  text-align: center;
}
.button__wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  border-bottom-left-radius: 20px;
}
.Input__data{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
